.navlink a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    margin: 0 1vw;
}

.navbar .container img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.navbar .container-fluid h1{
    font-size: 2vw;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.search-container {
  width: 30vw;
  min-width: 250px;
}

.services-page {
  display: flex;
  min-height: 100vh;
  margin-top: 80px;
}

.services-list {
  width: 30vw;
  background: white;
  padding: 20px;
  overflow-y: auto;
}

.services-content {
  width: 70vw;
  padding: 40px;
  background: #fff;
}

@media (max-width: 992px) {
  .services-page {
      flex-direction: column;
  }
  .services-list, .services-content {
      width: 100%;
  }
}

/* Navbar adjustments */
@media (max-width: 948px) {
  .navbar {
    flex-wrap: wrap;
    height: auto !important;
    padding: 10px;
  }

  .news {
    display: none;
  }

  .navbar .container img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .search-container {
    width: 90% !important; /* expand to 90% on mobile */
    min-width: unset;
  }

  .navbar .container {
    width: 100% !important;
    justify-content: center !important;
    margin-bottom: 10px;
  }

  .navbar img {
    height: 60px !important;
    width: 60px !important;
    margin: 0 10px;
  }

  .navbar .container-fluid h1 {
    font-size: 5vw;
    text-align: center;
  }

  .navlink a {
    font-size: 16px;
    margin: 2vh 3.5vw 0;
  }

  .navbar form {
    display: flex;
    flex-direction: row;
  }

  .navbar .container form {
    display: flex;
    flex-direction: row;
  }

  .navbar input {
    width: 85% !important;
  }
}